@import '../app.component.scss';

.information{
    border-bottom: 1px solid $border-color;
    height: 165px;
    margin-left: 300px;
    margin-right: 300px;
    .img{
        margin-top: 100px;
        img{
            width: 100px;
            height: 100px;
            border-radius:  50%   ;
            -webkit-border-radius:  50%   ;
            -moz-border-radius:  50%   ;
            -ms-border-radius:  50%   ;
            -o-border-radius:  50%   ;
            border: 1px solid $border-color;
        }

        input#profil-img{
            position: absolute;
            width: 0;
            left: 400px;
        }

        label{
            position: relative;
            .change-icon{
                position: relative;
                color: $material-primary;
                top: -80px;
                right: 30px;
    
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }

    .information-user{
        position: absolute;
        left: 500px;
        top: 140px;
        .username{
            font-size: 20px;

            button{
                top: -3px;
                left: 20px;
            }
        }

        .list-count-principal{
            margin-top: 15px;

            .list-count{
                margin-right: 30px;
            }
        }

        .description{
            margin-top: 25px;
            width: 65%;
        }
        
    }
}
