<app-menu logged={{logged}}></app-menu>

<div class="information" *ngIf="user != null">
    <div class="img">
        <div *ngIf="user.urlImgProfil != null; else elseBlock">
            <img [src]="user.urlImgProfil" alt="">

            <input type="file" id="profil-img" accept="image/*" (change)="AddProfilImage($event)">
            <label for="profil-img" *ngIf="logged">
                <mat-icon class="change-icon">
                    add_circle
                </mat-icon>
            </label>
        </div>
        <ng-template #elseBlock>
            <img src="https://scontent-lhr3-1.cdninstagram.com/vp/78bb2593e5a5077421172e6829e62a33/5D5480F1/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com"
                alt="">

            <input type="file" id="profil-img" accept="image/*" (change)="AddProfilImage($event)">
            <label for="profil-img" *ngIf="logged">
                <mat-icon class="change-icon">
                    add_circle
                </mat-icon>
            </label>
        </ng-template>
    </div>
    <div class="information-user">
        <div class="username">
            {{user.username}}
            <button mat-raised-button color="primary" *ngIf="!logged && !subscribed"
                (click)="subscribe()">Subscribe</button>
            <button mat-raised-button color="accent" *ngIf="!logged && subscribed"
                (click)="unsubscribe()">Unsubscribe</button>
            <button mat-raised-button routerLink="/logout" *ngIf="logged">Logout</button>
        </div>
        <div class="list-count-principal">
            <span class="list-count">{{user.posts?.length || 0}} post </span>
            <span class="list-count">{{user.subcribers?.length || 0}} subcribers</span>
            <span class="list-count">{{user.subscriptions?.length || 0}} subscriptions</span>
        </div>
        <div class="description">
            {{user.description | slice:0:450}}
        </div>
    </div>
</div>

<div *ngIf="displayDetailPost" class="postDetail">
    <app-post-detail [post]="post" [user]="user" (closePost)="closePost()"></app-post-detail>
</div>

<div class="posts">
    <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let p of user?.posts" (click)="displayPost($event)">
            <div class="id" [id]="p.id">

            </div>
            <div class="postInfoAll">
                <div class="postInfo comment">
                    <mat-icon>
                        chat_bubble
                    </mat-icon>
                    {{p.comments?.length || 0}}
                </div>
                <div class="postInfo like">
                    <mat-icon>
                        favorite
                    </mat-icon>
                    {{p.likes?.length || 0}}
                </div>

            </div>
            <mat-card class="post">
                <img mat-card-image [src]="p.imgs[0]">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>