<div>
  <div class="add-input">
    <mat-grid-list cols="2" rowHeight="100">
      <mat-grid-tile>
          <input type="file" id="file" multiple accept="image/*" (change)="change($event)">
          <label for="file">Choose a file</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="upload()">
          Upload
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="container">
    <mat-form-field>
      <textarea matInput (change)="changeDescription($event)"></textarea>
    </mat-form-field>
  </div>
    

  <div class="img-list">
    <mat-grid-list cols="5" rowHeight="250" >
      <mat-grid-tile *ngFor="let img of imgSrc">
        <img [src]="img.url || 'https://www.transparenttextures.com/patterns/asfalt-light.png'" alt="">
        <mat-icon (click)="remove(img)">
          remove_circle
        </mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>